[Unit]
Description=VBox Virtual Machine  Service
Requires=systemd-modules-load.service  
Before=shutdown.target reboot.target halt.target
After=systemd-modules-load.service 
Documentation=http://jason.ferrer.com.ph/2013/09/phpvirtualbox-on-opensuse-reloaded.html

[Service]
Type=oneshot
User=jetchisel
Group=vboxusers
KillMode=none
StandardOutput=syslog+console
EnvironmentFile=/etc/default/virtualbox
ExecStart=/usr/lib/systemd/systemd-vboxinit start
ExecStop=/usr/lib/systemd/systemd-vboxinit stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
